@import "tailwindcss";

@theme {
  --color-mecs-primary: #8ec641;
  --color-mecs-dark: #111827;
  
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  [x-cloak] {
    display: none !important;
  }
}

.selection-mecs::selection {
  background-color: var(--color-mecs-primary);
  color: white;
}
